// /*Footer*/
.footer {
  background-color: #1B1B1B;
}
.footer-inner {
  padding: 66px 0 62px 0;
}
.logo-group {
  max-width: 372px;
}
.logo-group-title {
  margin-top: 20px;
  margin-bottom: 25px;
}

.list {
  padding: 0;
}
.list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 186.3%;
}
.address {
  max-width: 282px;
}
.list-icon {
  margin-top: 65%;
  width: 184px;
}
.footer-bottom {
  padding: 29px 0;
  border-top: 0.8px solid #D2D2D2;
}
.footer-text {
  font-size: 13px;
  line-height: 190.6%;
}