.hero {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-inner{
  padding: 102px 60px 106px 80px;
}
.hero-text-wrapper {
  max-width:479px ;
}
.hero-marketing {
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 20px;
  line-height: 155.2%;
  color: #dc7000;
}
.hero-title {
  margin: 0 0 26px 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 155.2%;
  color: #000000;
}
.hero-text {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}
.hero-link {
  padding: 15px 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 40px;
  color: #fff;
  background-image: $main-btn-liner;
  &:hover {
    color: #fff;
    opacity: 0.9;
  }
}
.intro-inner {
  padding: 85px 60px 165px 80px;
  
}
.intro-title {
  max-width: 826px;
  margin: 0 0 49px 0;
  font-weight: 600;
  font-size: 25px;
  line-height: 187.5%;
  color: #222;
}
.intro-text-wrapper {
  max-width: 545px;
}
.intro-text-wrapper-title {
  margin: 0 0 32px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 187.5%;
  color: #222;
}
.intro-text-wrapper-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #525252;
}
.intro-img-wrapper {
  max-width: 1021px;
  position: relative;
  padding: 67px 87px 0 0;
}
.dot-icon {
  position: absolute;
  top: 0 ;
  right: 0;
  z-index: -1;
}
.work-people {
  width: 100%;
  border-radius: 5px;
}

.cards-inner {
  padding: 0 0 133px 0;
}
.cards-text {
  max-width: 820px;
  margin-bottom: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  color: #525252;
}

.links {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 187.5%;
  color: #000000;
}
.cards-img {
  margin: 0 auto 30px auto ;
}
.cards-img-arrow {
  margin: 25px auto 0 auto;
}
.cards-group {
  max-width: 1045px;
  
}


.container-carusel {
  max-width: 1536px;
  margin: 0 auto;
}
.carusel {
  background-color: #F1F1F1;
}
.carusel-inner {
  padding: 69px 0 100px 0;
  width: 100%;
  position: relative;
}

.item {
  max-width: 378px;
  padding: 35px;
  background-color: #fff;
  border-radius: 20px;
  
}

.btn-items {
  margin-bottom: 19px;
  padding: 7px 35px 6px 14px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 187.5%;
}
.btn-color {
  color: #dc0000;
  background-color: #dc00001a;
}
.item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 187.5%;
  color: #000000;
  margin-bottom: 16px;
}
.item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 187.5%;
  color: #525252;
}
.btn-back {
  font-weight: 500;
  font-size: 14px;
  line-height: 187.5%;
  color: #dc7000;
  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 12px;
    margin-left: 12px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 12px;
  }
}
.btn-grey {
  background: #0cbe6426;
  color: #0CBE64;
}
.btn-pink {
  background-color: #b000dc1c;
  color: #B000DC;
}
.btn-blue {
  background-color: #0058dc17;
  color: #0058DC;
}
.owl-item {
  background-color: transparent !important;
  
}
.owl-stage {
  margin-left: -95px;
}
.styling {
  margin-left: 80px;
}
.owl-nav {
  position: absolute;
  right: 200px;
  top: -130px;
}
.owl-prev {
  width: 39.04px;
  height: 39.04px;
  border-radius: 50% !important;
  background-image: url("../images/arrow-right-icon.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  transform: rotate(-180deg);
  span {
    display: none;
  }
}
.owl-next {
  width: 39.04px;
  height: 39.04px;
  border-radius: 50% !important;
  background: #fff;
  background-image: url("../images/arrow-right-icon.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  
  span {
    display: none;
  }
}
.owl-carousel {
  margin-top: 50px;
}

.forms-inner {
  padding: 0  60px 148px 80px;
}
.form {
  background-color: #1B1B1B;
  border-radius: 15px;
  margin-top: 74px;
  padding: 40px 50px 40px 56px;
}
.form-text-wrapper {
  max-width: 510px;
}
.gmail {
  max-width: 385.68px;
  padding: 14px 120px 14px 20px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  &::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #898989;
  }
}
.btn-input {
  position: absolute;
  right: 6px;
  top: 7px;
  padding: 8px 13px 9px 22px;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  background-color: #dc7000;
  border-radius: 8px;
}

.title-size {
  font-size: 20px;
}


.projects-inner {
  padding: 141px 0 200px 0;
}
.projects-text-wrapper {
  max-width: 497px;
  margin-bottom: 71px;
}
.projects-text-wrapper-title{
  font-weight: 600;
  font-size: 25px;
  line-height: 187.5%;
  color: #222;
}
.projects-text-wrapper-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 187.5%;
  color: #525252;
}
.styling-py {
  padding: 0 40px 0 80px ;
}
.projects-img {
  width: 100%;
  height: 223px;
}
.box-text-wrapper {
  max-width: 536px;
  padding-bottom: 125px;
}
.box-text-wrapper-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 43px;
}
.box-text-wrapper-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 18px;
  color: #525252;
}
.box-text-wrapper-texts {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #525252;
  margin-bottom: 46px; 
}
.box-text-wrapper-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 13px 44px;
  background-color: #dc7000;
  &:hover {
    color: #fff;
  }
}
.box-text-wrapper {
  margin-left: 67px;
} 
.box-img {
  width: 100%;
}


@include media-max(1199px) {
  .hero-inner{
    padding: 108px 50px 50px 50px;
  }
  .hero-img {
    width: 500px;
    height: 400px;
  }
  .hero-text-wrapper {
    max-width: 100%;  
  }

  .intro-img-wrapper {
    margin-left: -80px;
  }
  
}

@include media-max(991px) {
  .hero {
    background-image: url("../images/mobile-hero-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom 0px;
    background-size: contain;
  }
  .dot-icon {
    width: 120px;
    height: 100px;
  }

      .intro-img-wrapper {
        padding: 34px 35px 0 0;
        left: 0;
        margin-left: -100px;      
}
.owl-stage {
  margin-left: 0px;
}
.styling {
  margin-left: 0;
  padding: 0 40px;
}  
.owl-nav {
  position: absolute;
  right: 10px;
  top: -90px;
}
.box-text-wrapper {
  margin-left:0px;
} 

}



@include media-max(575px) {
  .hero-marketing {
    font-weight: 700;
    font-size: 16px;
    line-height: 155.2%;
  }
  .hero-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 155.2%;
  }
  .hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    margin-bottom: 35px;
  }
  .hero-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    padding: 13px 18px 11px 22px;
  }
  .dot-icon {
    width: 78.91px;
    height: 62px;
  }
  
  .intro-img-wrapper {
    padding: 24px 25px 0 0;
    left: 0;
    margin-right: 40px;
  }
  .intro-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 187.5%;
  }
  .intro-inner { 
    padding: 48px 20px 101px 20px;
  }
  .intro-text-wrapper-title {
      font-size: 24px;
    }
    .cards-text  {
      font-size: 12px;
    }
    .title-size {
      font-size: 20px;
    }
    .cards-inner {
      padding: 0 0 106px 0;
    }
    .owl-stage {
      margin-left: 0px;
    }
    .container-carusel {
      padding: 0 40px;
    }
    .owl-stage-outer {
      border-radius: 20px;
    }
    .owl-nav {
      position: absolute;
      right: -2px;
      top: 392px;
    }
    .carusel-inner {
        padding: 55px 0 140px 0;
      }
      .styling {
        padding: 0;
      }  
      .owl-carousel {
        margin-top: 33px;
        }
        .form {
          padding: 30px 22px 18px 22px;
        }
        .gmail {
          margin-top: 43px;
          width: 100%;
        }
        .btn-input {
          top: auto;
          bottom: 7px;
        }
        .forms-inner {
          padding: 49px 20px 69px 20px;
        }
        .styling-py {
          padding: 0 20px 0 20px ;
        }
        .box-text-wrapper {
            padding: 0 30px;
          }
          .projects-inner {
            padding: 60px 0 103px 0;
        }
        .projects-text-wrapper-title {
            font-size: 20px;
           }
           .projects-text-wrapper-text {
            font-size: 12px;
          }
          .projects-text-wrapper {
          margin-bottom: 48px;
          }
          .box-text-wrapper-title {
            font-size: 22px;
            line-height: 33px;
          }
          .box-text-wrapper-text,
          .box-text-wrapper-texts {
          font-size: 13px;
          }
} 